<h1>Introduction to <i style="color:red;">SQLAlchemy</i></h1>

## <i>by Jack Camier, Python Developer</i>

In [2]:
%%HTML
<img src="sqla_logo.png" width="300"/>

SQLAlchemy is well documented at: https://www.sqlalchemy.org/

<h2>created by <i style="color:blue;">Mike Bayer</i></h2>

https://github.com/zzzeek

## There are a lot of tutorials on the subject, honestly too many to count.
## I hope to provide a tutorial that provides, some cookbook recipes (code snippets) and a little bit more visualization via a Jupyter Notebook to help developers better grasp the concepts than what I have found on the internet
<hr>

## "SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL" - Mike Bayer
https://www.sqlalchemy.org/
<hr>

## Our tutorial today will be using SQLite

In [3]:
%%HTML
<img src="sqlite_logo.gif" width="200"/>

https://www.sqlite.org/index.html

## The reason being you won't have to download or install anything in regards to a database perspective to do this tutorial 
## Also, `sqlite3` comes built-in with standard `Cpython`

In [4]:
import sqlite3 # That's it!

## "SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. SQLite is the most used database engine in the world. SQLite is built into all mobile phones and most computers and comes bundled inside countless other applications that people use every day."
https://www.sqlite.org/index.html

## Now you could do things like the following to work with sqlite using the standard library `sqlite3` such as:

In [5]:
import uuid

sql_values = {
"id": str(uuid.uuid4()),
"first_name": "Bill",
"last_name": "Smith",
"email": "b.smith@mail.com"
}

sql_values

{'id': 'b49780aa-4f1a-47a7-80e6-21614968904b',
 'first_name': 'Bill',
 'last_name': 'Smith',
 'email': 'b.smith@mail.com'}

In [6]:
# Create connection session and database
conn = sqlite3.connect('example.db')

# Create cursor and assign it to `c`
c = conn.cursor()

# Create table using raw SQL
c.execute('''CREATE TABLE users (id text, first_name text, last_name text, email text)''')

In [7]:
# Insert a row of data 
c.execute('INSERT INTO users VALUES (:id, :first_name, :last_name, :email)', sql_values)
conn.commit()

In [8]:
# Select the data and print out row results
sql = c.execute('''SELECT * from users''')
for row in sql:
    print(row)

('b49780aa-4f1a-47a7-80e6-21614968904b', 'Bill', 'Smith', 'b.smith@mail.com')

In [9]:
# Remove temporary `example.db` database
import os
os.remove("example.db")

## For simple things like this, we probably don't need SQLAlchemy. But normally within a short period of time, requirments of a project or feautures of a product change rapidly and we need to do something more like:

In [10]:
"""
select 
  'today - ' || to_char(trunc(sysdate),'Mon FMDDFM'),
  trunc(sysdate) as deadline
from dual 
UNION
select 
  'tomorrow - '|| to_char(trunc(sysdate+1),'Mon FMDDFM'), 
  trunc(sysdate+1) as deadline
from dual 
UNION
select
  'next week - '|| to_char(trunc(sysdate+7),'Mon FMDDFM'), 
  trunc(sysdate+7) as deadline
from dual 
UNION
select 
  'next month - '|| to_char(trunc(ADD_MONTHS(sysdate,1)),'Mon FMDDFM'), 
  trunc(ADD_MONTHS(sysdate,1)) as deadline 
from dual
UNION
select 
  name || ' - ' || to_char(deadline, 'Mon FMDDFM'), 
  deadline
from ticket_deadlines 
where project_id = :project_id
and deadline >= trunc(sysdate)
order by deadline
"""
# https://philip.greenspun.com/sql/complex-queries.html

"\nselect \n  'today - ' || to_char(trunc(sysdate),'Mon FMDDFM'),\n  trunc(sysdate) as deadline\nfrom dual \nUNION\nselect \n  'tomorrow - '|| to_char(trunc(sysdate+1),'Mon FMDDFM'), \n  trunc(sysdate+1) as deadline\nfrom dual \nUNION\nselect\n  'next week - '|| to_char(trunc(sysdate+7),'Mon FMDDFM'), \n  trunc(sysdate+7) as deadline\nfrom dual \nUNION\nselect \n  'next month - '|| to_char(trunc(ADD_MONTHS(sysdate,1)),'Mon FMDDFM'), \n  trunc(ADD_MONTHS(sysdate,1)) as deadline \nfrom dual\nUNION\nselect \n  name || ' - ' || to_char(deadline, 'Mon FMDDFM'), \n  deadline\nfrom ticket_deadlines \nwhere project_id = :project_id\nand deadline >= trunc(sysdate)\norder by deadline\n"

## "I wrote a reporting query once that was 700 lines long and visited 27 different tables in lookups or joins" - Greg Kemnitz
https://www.quora.com/Whats-the-most-complex-SQL-query-you-ever-wrote

## Figuring out how to do this in raw SQL can be very challenging if you are not a DBA or well versed in SQL syntax.
## With SQLAlchemy we can use the abstraction layer and write python code we are more familiar with and let the toolkit do the SQL magic behind the scenes

## First there are two main components of SQLAlchemy:
## "SQLAlchemy consists of two distinct components, known as the <i style="color:red;">Core</i> and the <i style="color:red;">ORM</i>. 
## The Core is itself a fully featured SQL abstraction toolkit, providing a smooth layer of abstraction over a wide variety of DBAPI implementations and behaviors, as well as a SQL Expression Language which allows expression of the SQL language via generative Python expressions."

## "The Object Relational Mapper (ORM) is then an optional package which builds upon the Core."
https://www.sqlalchemy.org/features.html

In [11]:
%%HTML
<img src="sqla_arch_small.png" width="500"/>

https://docs.sqlalchemy.org/en/13/intro.html

## To get sqlalchemy installed, all you have to do is:
`pip install SQLAlchemy`
## Then

In [12]:
import sqlalchemy

## In this talk, I am using version:

In [13]:
sqlalchemy.__version__

'1.3.9'

# To get started, we will commence looking at the Core component of SQLAlchemy

## Please note that individual database flavors, also called `dialects`, enumerate the available DBAPIs for each database
## Most seasoned developers learn that each database has its own nuances and slight variations of SQL syntax depending on the database. 
## Here are a list of popular `dialects` for SQLAlchemy:

# - PostgreSQL
https://docs.sqlalchemy.org/en/13/dialects/postgresql.html
# - MySQL
https://docs.sqlalchemy.org/en/13/dialects/mysql.html
# - SQLite
https://docs.sqlalchemy.org/en/13/dialects/sqlite.html
# - Oracle
https://docs.sqlalchemy.org/en/13/dialects/oracle.html
# - Microsoft SQL Server
https://docs.sqlalchemy.org/en/13/dialects/mssql.html
<hr>

## Since our focus will be SQLite, here are the main data type affinities:
* TEXT
* NUMERIC
* INTEGER
* REAL
* BLOB

https://www.sqlite.org/datatype3.html#affinity
<hr>

## "The SQLAlchemy Expression Language presents a system of representing relational database structures and expressions using Python constructs. These constructs are modeled to resemble those of the underlying database as closely as possible, while providing a modicum of abstraction of the various implementation differences between database backends."
https://docs.sqlalchemy.org/en/13/core/tutorial.html

##  <i style="color:red;">Huh!?</i> Translation:
## `SQLAlchemy Expression Language` is a way to represent everything dealing with a database using Python.

## For this tutorial we will use an in-memory-only SQLite database.

In [14]:
from sqlalchemy import create_engine

# To make the connection to the sqlite database
engine = create_engine('sqlite:///:memory:', echo=True)

## The `echo` flag is a shortcut to setting up SQLAlchemy logging using Python’s standard logging module.
## With it enabled, we’ll see all the generated SQL scripts produced. I believe this is very helpful to see visually what is being done behind the scenes

## "The `engine` is the starting point for any SQLAlchemy application. It’s “home base” for the actual database and its DBAPI, delivered to the SQLAlchemy application through a connection pool and a Dialect..."
https://docs.sqlalchemy.org/en/13/core/engines.html

In [15]:
%%HTML
<img src="sqla_engine_arch.png" width="700"/>

## To use the `create_engine` method to an actual sqlite database, here are some examples:

In [16]:
# where <path> is relative:
engine = create_engine('sqlite:///foo.db')

# Linux/Mac - 4 initial slashes in total
engine = create_engine('sqlite:////absolute/path/to/foo.db')

# Windows
engine = create_engine('sqlite:///C:\\path\\to\\foo.db')

In [17]:
## I personally like to do something more like:

PROJECT_DIR = os.path.dirname(os.path.abspath(''))

# Note you can also do:

# os.path.dirname(os.path.abspath(__file__))

# But this only works with a python .py file, not in Jupyter notebook .ipynb

PROJECT_DIR

'/Users/jacquescamier/JupyterProjects'

## Note: the file path will be different for you since `os.path.dirname` etc. is specific to your computer

In [18]:
database_path = os.path.join(PROJECT_DIR, 'your_database.db')
sqlite_path = f"sqlite:///{database_path}"

sqlite_path

'sqlite:////Users/jacquescamier/JupyterProjects/your_database.db'

In [19]:
engine = create_engine(sqlite_path)

engine

Engine(sqlite:////Users/jacquescamier/JupyterProjects/your_database.db)

## Let's go back to our in-memory example

In [20]:
engine = create_engine('sqlite:///:memory:', echo=True)

## Now let's import the necessary objects to build a table

In [21]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey, Boolean

## A collection of metadata entities is stored in an object called MetaData
## "MetaData is a container object that keeps together many different features of a database (or multiple databases) being described"
https://docs.sqlalchemy.org/en/13/core/metadata.html#metadata-describing

In [22]:
# Instantiate the MetaData object
metadata = MetaData()

In [23]:
# Define the `users` table:
users = Table('users', metadata,
              Column('id', Integer, primary_key=True),
              Column('first_name', String),
              Column('last_name', String),
             )

# Define the `email` table:
email = Table('email', metadata,
                 Column('id', Integer, primary_key=True),
                 Column('user_id', None, ForeignKey('users.id')),
                 Column('email_address', String, nullable=False),
                 Column('is_active', Boolean, default=True)
                 )

In [24]:
# Create the tables:
metadata.create_all(engine)

2020-04-14 17:34:58,861 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-04-14 17:34:58,863 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,865 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-04-14 17:34:58,866 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,867 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2020-04-14 17:34:58,867 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,869 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2020-04-14 17:34:58,869 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,871 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("email")
2020-04-14 17:34:58,871 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,872 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("email")
2020-04-14 17:34:58,874 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,875 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	first_name VARCHAR,
	last_name VARCHAR,
	PRIMARY KEY (id)
)


2020-04-14 17:34:58,875 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,876 INFO sqlalchemy.engine.base.Engine COMMIT
2020-04-14 17:34:58,877 INFO sqlalchemy.engine.base.Engine
CREATE TABLE email (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	is_active BOOLEAN,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id),
	CHECK (is_active IN (0, 1))
)


2020-04-14 17:34:58,878 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 17:34:58,879 INFO sqlalchemy.engine.base.Engine COMMIT

## ^ As you can see SQLAlchemy did a lot behind the scenes from our few lines of Python code

## Let's insert some data into our table

In [25]:
ins = users.insert().values(first_name='Bill', last_name='Smith')

## To see the insert SQL statement, we can use the str() function

In [26]:
str(ins)

'INSERT INTO users (first_name, last_name) VALUES (:first_name, :last_name)'

## To make a connection to the database, we use the `connect` method

In [27]:
conn = engine.connect()

## Now, let's pass the our assigned SQL insert `ins` to the connection
## This is where it actual writes to the database

In [28]:
result = conn.execute(ins)

2020-04-14 17:35:18,708 INFO sqlalchemy.engine.base.Engine INSERT INTO users (first_name, last_name) VALUES (?, ?)
2020-04-14 17:35:18,710 INFO sqlalchemy.engine.base.Engine ('Bill', 'Smith')
2020-04-14 17:35:18,712 INFO sqlalchemy.engine.base.Engine COMMIT

## Let's insert another record in the database

In [29]:
ins = users.insert().values(first_name='Sally', last_name='Jackson')

In [30]:
result = conn.execute(ins)

2020-04-14 17:35:21,860 INFO sqlalchemy.engine.base.Engine INSERT INTO users (first_name, last_name) VALUES (?, ?)
2020-04-14 17:35:21,861 INFO sqlalchemy.engine.base.Engine ('Sally', 'Jackson')
2020-04-14 17:35:21,863 INFO sqlalchemy.engine.base.Engine COMMIT

## Now let's select the data from the database

In [31]:
from sqlalchemy.sql import select

select_users = select([users])

result = conn.execute(select_users)

2020-04-14 17:35:25,155 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.first_name, users.last_name
FROM users
2020-04-14 17:35:25,157 INFO sqlalchemy.engine.base.Engine ()

In [32]:
# Iterate through the results:

for row in result:
    print(row)

(1, 'Bill', 'Smith')
(2, 'Sally', 'Jackson')

## In most cases, you are going to want to insert several records at a time by passing a list dictionaries:

In [33]:
# You can pass a list of dictionaries
conn.execute(email.insert(), [
    {'user_id': 1, 'email_address' : 'billsmith@somemail.com'},
    {'user_id': 2, 'email_address' : 's.jackson@somemail.com'},
    ])

2020-04-14 17:37:31,309 INFO sqlalchemy.engine.base.Engine INSERT INTO email (user_id, email_address, is_active) VALUES (?, ?, ?)
2020-04-14 17:37:31,311 INFO sqlalchemy.engine.base.Engine ((1, 'billsmith@somemail.com', 1), (2, 's.jackson@somemail.com', 1))
2020-04-14 17:37:31,313 INFO sqlalchemy.engine.base.Engine COMMIT

# To do a select statement to get one record:

In [34]:
result = conn.execute(select_users)

row = result.fetchone()

2020-04-14 17:40:33,786 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.first_name, users.last_name
FROM users
2020-04-14 17:40:33,788 INFO sqlalchemy.engine.base.Engine ()

In [35]:
print(row)

(1, 'Bill', 'Smith')

## Using a list comprehension:

In [36]:
list_rows = [row for row in conn.execute(select_users)]

2020-04-14 17:40:35,571 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.first_name, users.last_name
FROM users
2020-04-14 17:40:35,572 INFO sqlalchemy.engine.base.Engine ()

In [37]:
# Print first record
list_rows[0]

(1, 'Bill', 'Smith')

# You can get specific `columns` by using the `c` attribute

In [38]:
select_first_names = select([users.c.first_name])

[row for row in conn.execute(select_first_names)]

2020-04-14 17:40:36,815 INFO sqlalchemy.engine.base.Engine SELECT users.first_name
FROM users
2020-04-14 17:40:36,816 INFO sqlalchemy.engine.base.Engine ()

[('Bill',), ('Sally',)]

# We can do some unpacking magic and get rid of the tuple, notice the `,` after the `for row` expression

In [39]:
[row for row, in conn.execute(select_first_names)]

2020-04-14 17:40:38,009 INFO sqlalchemy.engine.base.Engine SELECT users.first_name
FROM users
2020-04-14 17:40:38,011 INFO sqlalchemy.engine.base.Engine ()

['Bill', 'Sally']

# Please recall that we declared a `ForeignKey` relationship between the users and email tables:
`Column('user_id', None, ForeignKey('users.id'))`

## This sets us up to do joins such as:

In [40]:
select_join_user_and_email = select([users, email]).where(users.c.id == email.c.user_id)

[row for row in conn.execute(select_join_user_and_email)]

2020-04-14 17:40:39,947 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.first_name, users.last_name, email.id, email.user_id, email.email_address, email.is_active
FROM users, email
WHERE users.id = email.user_id
2020-04-14 17:40:39,948 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Bill', 'Smith', 1, 1, 'billsmith@somemail.com', True),
 (2, 'Sally', 'Jackson', 2, 2, 's.jackson@somemail.com', True)]

## Here is another way to do joins, albeit a bit more complicated

In [41]:
from sqlalchemy import join

j = users.join(email, users.c.id == email.c.user_id)
select_users_email_join = select([users, email]).select_from(j)

[row for row in conn.execute(select_users_email_join)]

2020-04-14 17:40:40,975 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.first_name, users.last_name, email.id, email.user_id, email.email_address, email.is_active
FROM users JOIN email ON users.id = email.user_id
2020-04-14 17:40:40,975 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Bill', 'Smith', 1, 1, 'billsmith@somemail.com', True),
 (2, 'Sally', 'Jackson', 2, 2, 's.jackson@somemail.com', True)]

## Now Let's load some data from a csv file and write to the database

In [42]:
import csv

with open('users_data.csv', mode='r') as user_file:
    reader = csv.reader(user_file, delimiter=',')
    headers = next(reader, None)
    import_list = [{headers[0]: row[0], headers[1]: row[1]} for idx, row in enumerate(reader)]
    

import_list

[{'first_name': 'Jerome', 'last_name': 'Walters'},
 {'first_name': 'Rick', 'last_name': 'Stein'},
 {'first_name': 'Sam', 'last_name': 'West'},
 {'first_name': 'Jill', 'last_name': 'Smith'},
 {'first_name': 'Jan', 'last_name': 'West'},
 {'first_name': 'Linda', 'last_name': 'Rodriguez'}]

In [43]:
# Insert rows to database
conn.execute(users.insert(), import_list)

2020-04-14 17:40:41,676 INFO sqlalchemy.engine.base.Engine INSERT INTO users (first_name, last_name) VALUES (?, ?)
2020-04-14 17:40:41,677 INFO sqlalchemy.engine.base.Engine (('Jerome', 'Walters'), ('Rick', 'Stein'), ('Sam', 'West'), ('Jill', 'Smith'), ('Jan', 'West'), ('Linda', 'Rodriguez'))
2020-04-14 17:40:41,678 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
# Select all users
result = conn.execute(select([users]))

[row for row in result]

2020-04-14 17:40:41,871 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.first_name, users.last_name
FROM users
2020-04-14 17:40:41,871 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Bill', 'Smith'),
 (2, 'Sally', 'Jackson'),
 (3, 'Jerome', 'Walters'),
 (4, 'Rick', 'Stein'),
 (5, 'Sam', 'West'),
 (6, 'Jill', 'Smith'),
 (7, 'Jan', 'West'),
 (8, 'Linda', 'Rodriguez')]

## Select all users where last name is Smith

In [45]:
s = select([(users.c.last_name + ", " + users.c.first_name)]).where(users.c.last_name=="Smith")

conn.execute(s).fetchall()

2020-04-14 17:40:52,167 INFO sqlalchemy.engine.base.Engine SELECT users.last_name || ? || users.first_name AS anon_1
FROM users
WHERE users.last_name = ?
2020-04-14 17:40:52,168 INFO sqlalchemy.engine.base.Engine (', ', 'Smith')

[('Smith, Bill',), ('Smith, Jill',)]

## Let's import more csv data from the `email_data.csv` file to do some more interesting filtering (where clauses)

In [47]:
with open('email_data.csv', mode='r') as email_file:
    reader = csv.reader(email_file, delimiter=',')
    headers = next(reader, None)
    email_import_list = [{headers[0]: row[0], headers[1]: row[1]} for idx, row in enumerate(reader)]
    

email_import_list

[{'user_id': '3', 'email_address': 'j.walters@somemail.com'},
 {'user_id': '4', 'email_address': 'ricky.stein1@somemail.com'},
 {'user_id': '5', 'email_address': 's.w@somemail.com'},
 {'user_id': '6', 'email_address': 'jill.smith@somemail.com'},
 {'user_id': '7', 'email_address': 'j.west@somemail.com'},
 {'user_id': '8', 'email_address': 'linda123@somemail.com'}]

In [48]:
# Insert rows to database
conn.execute(email.insert(), email_import_list)

2020-04-14 17:43:38,040 INFO sqlalchemy.engine.base.Engine INSERT INTO email (user_id, email_address, is_active) VALUES (?, ?, ?)
2020-04-14 17:43:38,041 INFO sqlalchemy.engine.base.Engine (('3', 'j.walters@somemail.com', 1), ('4', 'ricky.stein1@somemail.com', 1), ('5', 's.w@somemail.com', 1), ('6', 'jill.smith@somemail.com', 1), ('7', 'j.west@somemail.com', 1), ('8', 'linda123@somemail.com', 1))
2020-04-14 17:43:38,042 INFO sqlalchemy.engine.base.Engine COMMIT

## Using our previous where clause script

In [49]:
select_join_user_and_email = select([users, email]).where(users.c.id == email.c.user_id)

[row for row in conn.execute(select_join_user_and_email)]

2020-04-14 17:44:48,363 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.first_name, users.last_name, email.id, email.user_id, email.email_address, email.is_active
FROM users, email
WHERE users.id = email.user_id
2020-04-14 17:44:48,364 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Bill', 'Smith', 1, 1, 'billsmith@somemail.com', True),
 (2, 'Sally', 'Jackson', 2, 2, 's.jackson@somemail.com', True),
 (3, 'Jerome', 'Walters', 3, 3, 'j.walters@somemail.com', True),
 (4, 'Rick', 'Stein', 4, 4, 'ricky.stein1@somemail.com', True),
 (5, 'Sam', 'West', 5, 5, 's.w@somemail.com', True),
 (6, 'Jill', 'Smith', 6, 6, 'jill.smith@somemail.com', True),
 (7, 'Jan', 'West', 7, 7, 'j.west@somemail.com', True),
 (8, 'Linda', 'Rodriguez', 8, 8, 'linda123@somemail.com', True)]

## This might be a good time to introduce the ORM (Object Relational Mapper)

## "The SQLAlchemy Object Relational Mapper presents a method of associating user-defined Python classes with database tables, and instances of those classes (objects) with rows in their corresponding tables. It includes a system that transparently synchronizes all changes in state between objects and their related rows, called a unit of work, as well as a system for expressing database queries in terms of the user defined classes and their defined relationships between each other."
https://docs.sqlalchemy.org/en/13/orm/tutorial.html

## Think of it like another approach to use SQLAlchemy that provides a nice abstraction layer. I personally prefer the ORM over the core especially when it comes to querying the database. 

## *Remember: it is built on top of the Core*
## We already made the engine instance:
    engine = create_engine('sqlite:///:memory:', echo=True)
## So the next step is to create the mapper: `declarative_base`, a construct for the base class of declarative class definitions.
https://docs.sqlalchemy.org/en/13/orm/extensions/declarative/api.html#sqlalchemy.ext.declarative.declarative_base

In [52]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

## Don't worry too much about what it is, but just remember you need to instantiate this to use the ORM when working with tables

## Now we can create another table such as:

In [53]:
from sqlalchemy import Column, Integer, String

class Addresses(Base): # Notice that `Address` inherits from Base which is an instance of `declarative_base`
    __tablename__ = 'addresses'
    
    id = Column(Integer, primary_key=True)
    street = Column(String)
    city = Column(String)
    state = Column(String)

## Note a class using Declarative at a minimum needs a `__tablename__` attribute, and at least one `Column` which is part of a primary key.

## Now we can use the `metadata.create_all` method of the `Base` instance to create the table

In [54]:
Base.metadata.create_all(engine)

2020-04-14 18:08:52,429 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("addresses")
2020-04-14 18:08:52,431 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 18:08:52,432 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("addresses")
2020-04-14 18:08:52,433 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 18:08:52,435 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	street VARCHAR,
	city VARCHAR,
	state VARCHAR,
	PRIMARY KEY (id)
)


2020-04-14 18:08:52,436 INFO sqlalchemy.engine.base.Engine ()
2020-04-14 18:08:52,437 INFO sqlalchemy.engine.base.Engine COMMIT

## As you can see this is very similar to the Core but without the `Base` class:
    Base.metadata.create_all(engine) ORM
    metadata.create_all(engine) CORE

## Now for the key `Session` object we need to instantiate for querying:

In [55]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine) # define a Session class which is a factory for new Session objects

session = Session()

## Using the `session` object we now `INSERT` records using the `add` method

In [58]:
ed_user = users(first_name='Ed', last_name='Jones')

session.add(ed_user)

TypeError: 'Table' object is not callable

## ....Not quite... we unfortuantely, need to create the `Users` class object again, inheriting from `Base` this time.

In [59]:
class Users(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    first_name = Column('first_name', String)
    last_name = Column('last_name', String)

## Now, let's try inserting the user again using the `session` object

In [61]:
ed_user = Users(first_name='Ed', last_name='Jones')

session.add(ed_user)

## We can query our database using the `query` method and passing the `Users` class Table. Also, we can use the `filter_by` method i.e. `WHERE` clause and the `first` method i.e. `LIMIT`

In [65]:
q = session.query(Users).filter_by(first_name='Ed').first()

2020-04-14 20:17:14,194 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name
FROM users
WHERE users.first_name = ?
 LIMIT ? OFFSET ?
2020-04-14 20:17:14,196 INFO sqlalchemy.engine.base.Engine ('Ed', 1, 0)

## Now with our assigned query object of `q` we can get the attributes (Table fields) of the `Users` class:

In [70]:
f"ID: {q.id}, First name: {q.first_name}, Last name: {q.last_name}"

'ID: 9, First name: Ed, Last name: Jones'

## Similarily, we can insert many records using the `add_all` method in a list of tuples:

In [71]:
session.add_all([
    Users(first_name='Wendy', last_name='Williams'),
    Users(first_name='Chris', last_name='Walters'),
])

## Let's do a select all using SQLAlchemy's `all()` method on the `session.query` object

In [75]:
query = session.query(Users).all()

2020-04-14 20:41:48,159 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name
FROM users
2020-04-14 20:41:48,159 INFO sqlalchemy.engine.base.Engine ()

## `query` is of the type `list`

In [77]:
type(query)

list

## Similarily, we can iterate through the list object `query` and get the first names by using the attributre `first_name` of the `Users` class

In [80]:
for row in query:
    print(row.first_name)

Bill
Sally
Jerome
Rick
Sam
Jill
Jan
Linda
Ed
Wendy
Chris

## Another usefull method is the `order_by` which is equivalent to SQL `ORDER BY` clause

In [81]:
query = session.query(Users).order_by(Users.last_name).all()

2020-04-14 20:46:56,084 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name
FROM users ORDER BY users.last_name
2020-04-14 20:46:56,085 INFO sqlalchemy.engine.base.Engine ()

In [83]:
# See query results sorted alphabetically due to order_by method above
for row in query:
    print(row.first_name, row.last_name)

Sally Jackson
Ed Jones
Linda Rodriguez
Bill Smith
Jill Smith
Rick Stein
Jerome Walters
Chris Walters
Sam West
Jan West
Wendy Williams

## The `filter` method combined with the `in_` method is also very usefull:

In [87]:
query = session.query(Users).filter(Users.first_name.in_(['Ed', 'Bill', 'Jan']))

In [88]:
for row in query:
    print(row.first_name, row.last_name)

2020-04-14 20:53:27,124 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name
FROM users
WHERE users.first_name IN (?, ?, ?)
2020-04-14 20:53:27,126 INFO sqlalchemy.engine.base.Engine ('Ed', 'Bill', 'Jan')
Bill Smith
Jan West
Ed Jones

## Another good use of the filter(in_) combo is by passing a list of criteria such as:

In [90]:
criteria_list = ["Smith", "West"]

query = session.query(Users).filter(Users.last_name.in_(criteria_list))

In [91]:
for row in query:
    print(row.first_name, row.last_name)

2020-04-14 20:56:23,693 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name
FROM users
WHERE users.last_name IN (?, ?)
2020-04-14 20:56:23,695 INFO sqlalchemy.engine.base.Engine ('Smith', 'West')
Bill Smith
Sam West
Jill Smith
Jan West